{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'cafe:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'cafe:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>Dish type:</strong> {{ dish.dish_type.name }}</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <p><strong>Price:</strong> ${{ dish.price }}</p>

  <br>

  <h2>Cooks</h2>
  <hr>
    {% for cook in dish.cooks.all %}
    <li>{{ cook.username }}</li>
  {% empty %}
    <li>No cooks available</li>
  {% endfor %}

  <br>

  {% if user in dish.cooks.all %}
    <form action="{% url 'cafe:toggle-assign-cook-to-dish' pk=dish.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete me from this dish" class="btn btn-danger">
    </form>
  {% else %}
    <form action="{% url 'cafe:toggle-assign-cook-to-dish' pk=dish.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Assign me to this dish" class="btn btn-success">
    </form>
  {% endif %}

{% endblock %}